@import "../styles/variables.scss";
@import "../index.scss";

.landing {
  text-align: left;
  margin: 75px 10%;

  &__intro {
    margin-bottom: 25px;
    h1 {
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 2px;
      margin-bottom: $small-padding;
    }
    p,
    a {
      margin: 5px 0;
      font-size: 13px;
      font-weight: 300;
      letter-spacing: 0.5px;
      color: $dark;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .landing {
    margin: 0;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    &__content {
      display: flex;
      flex-direction: row;
      align-content: flex-end;
      width: auto;
      margin: auto;
      max-width: 1200px;
      margin: 75px;
    }

    &__intro {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 2vh;
      margin-right: 50px;
      width: 370px;
    }
  }
}
