@import "../../styles/variables.scss";
@import "../../index.scss";

.big-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__a {
    font-family: "Gloock";

    text-decoration: none;
    text-transform: uppercase;
    color: $dark;
    font-size: 15vw;
    line-height: 1;
    transition: 0.2s all;
    transform: skewX(0deg);
    width: initial;
  }

  &__subtext {
    margin-top: -10px;
    color: grey;
  }
}

@media only screen and (min-width: 1000px) {
  .big-list {
    a {
      font-size: 9.5vw;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .big-list {
    a {
      font-size: 140px;
    }
  }
}
