body {
  margin: 0;
  font-family: "Coco", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// @font-face {
//   font-family: "JosefinSans";
//   src: local("JosefinSans"), url("./fonts/JosefinSans-VariableFont_wght.ttf"),
//     format("ttf");
// }

// @font-face {
//   font-family: "Coco";
//   src: url("./fonts/CocosignumMaiuscoletto-Regular-Trial.ttf"), format("ttf");
// }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
